/*----------------------------------------------HERDER------------------------------------------*/
.topo{
    display: none;
}   


@media only screen and (max-width: 650px) {
    .sidebar{
        display: none;
    }
    .topo{
        display: block;
    }

    .sidebar.open{      
        display: block;
        width: 100% ;
    }   
    .sidebar.open li.profile {
        width: 100%;
    }
}

.logo > img{
    width: 50px;
    height: 50px;
}

.container #btnnav{
    font-size: clamp(1em, 1em + 4vw, 5em);
    transition: all 0.4s ease;
    font-size: clamp(1em, 1em + 4vw, 5em);
    cursor: pointer;
}
.bx-menu-nav-alt-right:before {
    content: "\eac3";
}
.bx-menu-nav:before{
    content: "\eac1";
}